html,
body {
  background-color: #E8E8E8;
  padding: 0;
  margin: 0 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #300DAB;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  opacity: .8;
  border-bottom: 1px solid #000;
}

* {
  box-sizing: border-box;
}

.centerText {
  display: block;
  text-align: center;
}