@import '../../../styles/variables.scss';

.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 767px) {
        display: block;
    }

    input {
        width: 50%;
        padding: .5rem;
        border-radius: 5px;
        border: none;
        font-size: $fontSize * 1.5;

        @media only screen and (max-width: 767px) {
            font-size: $fontSize *.75;
            width: 100%;
        }
    }    

    input:hover {
        box-shadow: $boxShadowColor;
    }

    input:focus {
        border: 2px solid lightskyblue;
        outline: lightskyblue;
    }

    button {
        margin: 0 .75rem;
        padding: 0 1.25rem;
        background-color: $SearchButtonColor;
        color: $white;
        font-weight: bold;
        border: none;
        border-radius: 5px;

        @media only screen and (max-width: 767px) {
            margin: .5rem 0;
            width: 100%;
            padding: .5rem;
            font-size: $fontSize;
        }
    }

    button:hover {
        background-color: $SearchButtonColorHover;
        cursor: pointer;
    }    
}